.DS_Store
Pods/
/.build
/Packages
xcuserdata/
DerivedData/
.netrc
APIHeartRate/*.xcframework
APIHeartRate/*.framework
APIHeartRate/archives
APIHeartRate/*.podspec
APIHeartRate/test/
APIHeartRate/Frameworks